.App {
  text-align: center;
}

.App-header {
  background-color: #fff15e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
